a {
    color: blueviolet;
    margin: 0 5px;
    text-decoration: none;
}
.navbar-text.pull-left a{
    color: greenyellow;
}

.myPanel{

}

.panel-heading.myPanel:hover {
    background-color: #9D9D9D;
    border: 1px solid deeppink;
    opacity: 0.8;
    color: yellowgreen;
}

.panel-heading a {
    text-decoration: none;
}

.panel-heading a:hover {
    text-decoration: dotted;
}

.mask {
    background-color: #9D9D9D;
    width: 100%;
    height: 2000px;
    left: 0;
    top: 0;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 1;
    position: absolute;
}

.login {
    z-index: 2;
}

.panel{
    width:100%;
}
.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    font-size: 18px;
    /*line-height: 18px;*/
    width: 100%;
    background-color: #8b887d;
    border: 0 solid palegoldenrod;
    border-top-color: #0000FF;
    border-radius: 4px 4px 4px 4px;
}

.delBlogBtn{

}

/*ul li {*/
    /*list-style: none;*/
/*}*/

/* qingdou 2.1*/
.prettyprint,
pre.prettyprint {
    background-color: #272822;
    border: 1px solid #272822;
    overflow: hidden;
    padding: 8px;
}
.prettyprint.linenums,
pre.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;
    -moz-box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;
    box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;
}
.prettyprint.linenums ol,
pre.prettyprint.linenums ol {
    margin: 0 0 0 0px;
}
.prettyprint.linenums ol li,
pre.prettyprint.linenums ol li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 20px;
    margin-left: 0;
    list-style: decimal;
}

.prettyprint .com { color: #93a1a1; }
.prettyprint .lit { color: #AE81FF; }
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo { color: #F8F8F2; }
.prettyprint .fun { color: #dc322f; }
.prettyprint .str,
.prettyprint .atv { color: #E6DB74; }
.prettyprint .kwd,
.prettyprint .tag { color: #F92659; }
.prettyprint .typ,
.prettyprint .atn,
.prettyprint .dec,
.prettyprint .var { color: #A6E22E; }
.prettyprint .pln { color: #66D9EF; }

