<% include header.ejs %>
<% include sidebar.ejs %>
<div class="col-md-8">
    <% if(info){%>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title  glyphicon glyphicon-book" style="color:orangered;font-size: x-large"><span style="margin-left:10px;color:black"><%= info.type%></span></h3>
                <span style="text-align: center;margin-left:100px;" class="label label-danger"><%= info.name%></span>
            </div>
            <div class="panel-body" contenteditable="true">
                <%- info.content%>
            </div>
        </div>
    <%}else{%>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">还没有发布文章</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    <%}%>
</div>
<% include footer.ejs %>
<script type="text/javascript">
    require(["/js/main.js"], function () {
        require(["/js/app/blog.js"]);
    });
</script>

