
</body>
<script src="lib/requirejs/require2.1.11.js"></script>
<script type="text/javascript">
    require(["js/main.js"], function() {
        require(['js/app/index']);
    });
</script>
</html>


