
</div><!--/row-->

<hr>
<div class="footer" style="color:greenyellow">
    Copyright &copy; <%= dateTime %> 所有权归<strong>郑金玮</strong>所有
</div>

</div><!--/.fluid-container-->
</body>
</html>
<script src="/lib/requirejs/require2.1.11.js"></script>
