</div><!--/row-->
<hr>

<footer style="text-align: center">
    <p>Copyright &copy; <%= dateTime %> 所有权归<strong>郑金玮</strong>所有</p>
</footer>

</div><!--/.fluid-container-->
</body>
<script src="lib/requirejs/require2.1.11.js"></script>
<script type="text/javascript">
    require(["js/main.js"], function () {
        require(['js/app/index']);
    });
</script>
</html>


