
</div><!--/row-->

<hr>
<div style="position:fixed;bottom: 40px;color:#000000;background-color: #8b887d;width: 100%;border:1px solid;border-top-color:red;">
    <p style="position:fixed;left:40%;">Copyright &copy; <%= dateTime %> 所有权归<strong>郑金玮</strong>所有</p>
</div>

</div><!--/.fluid-container-->
</body>
</html>
<script src="/lib/requirejs/require2.1.11.js"></script>
