<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="" />
    <meta name="keywords" content="侧边导航菜单(可分组折叠)" />
    <meta name="description" content="侧边导航菜单(可分组折叠)" />
    <meta name="HandheldFriendly" content="True" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--响应式布局--->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/sidebar.css" rel="stylesheet">
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <!--响应式布局--->
    <link rel='icon' href='favicon.ico ' type=‘image/x-ico’/>
    <link href="/lib/summernote/dist/summernote.css" rel="stylesheet">

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px;
        }

        .nav-header {
            color: #1B1B1B;
            font-size: 20px;
            font-family: "Source Code Pro", "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
        }

        .navbar-text.pull-right {
            float: right;
            padding-right: 10px;
        }

        .navbar-text.pull-right a {
            color: #38D63B;
            margin: 0 10px;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 10px;
                padding-right: 10px;
            }
        }

    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <input type="text" style="display: none;" id="idLang" value="<%= lang %>"/>
            <a class="brand" href="#" style="font-family: '华文行楷';color:#ff0000;font-size:28px;"><%= projectName %></a>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    <% if(userName){ %>
                    用户:<a href="#" class="navbar-link"><%= userName %></a>
                    <a href="/user/logout" class="navbar-link">退出</a>
                    <% }else{ %>
                    <a href="javascript:void(0);" id="idLangSet" style="color: #ff0000"><span class="glyphicon "></span><strong>
                            <% if(lang == 'ch'){ %>
                            英文
                            <% }else{ %>
                            Chinese
                            <% } %>
                        </strong>
                    </a>
                    <a href="javascript:void(0);" id="idRegister"><span class="glyphicon glyphicon-user"></span>
                        <% if(lang == 'en'){ %>
                        register
                        <% }else{ %>
                        注册
                        <% } %>
                    </a>
                    <a href="javascript:void(0);" id="idLogin"><span class="glyphicon glyphicon-log-in"></span>
                        <% if(lang == 'en'){ %>
                        login
                        <% }else{ %>
                        登录
                        <% } %>
                    </a>
                    <% } %>
                </p>
                <ul class="nav">
                    <% if(lang == 'ch'){ %>
                    <li class="active"><a href="index">主页</a></li>
                    <li><a href="javascript:void(0);">关于</a></li>
                    <li><a href="javascript:void(0);" id="idContract">联系</a></li>
                    <% }else{ %>
                    <li class="active"><a href="index">Home</a></li>
                    <li><a href="javascript:void(0);">About</a></li>
                    <li><a href="javascript:void(0);" id="idContract">Contact</a></li>
                    <% } %>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<!--蒙版-->
<div class="mask" style="display: none;">
</div>

<!--登录-->
<div id="loginModal" class="modal hide login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="idCloseLogin">X</button>
                <h1 class="text-center text-primary">登录</h1>
            </div>
            <div class="modal-body">
                <form action="/user/login" method="post" onsubmit="return false" class="form col-md-8 center-block text-center text-primary">
                    <div class="form-group">
                        <input type="email" class="form-control input-lg" name="email" id="idLogEmail" placeholder="电子邮箱" required="true" title=""
                               data-container="false" data-toggle="popover" data-placement="right"
                               data-content="邮箱格式非法">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" name="password" id="idLogPassword" placeholder="登录密码" required="true" title=""
                               data-container="false" data-toggle="popover" data-placement="right"
                               data-content="密码必须填写">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg" id="idLoginAction">立刻登录</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span><a href="#" class="pull-right" style="margin-left:10px;">找回密码</a></span>
                <span><a href="#" class="pull-right" style="margin-left:10px;" id="idRegister2">注册</a></span>
            </div>
        </div>
    </div>
</div>

<!--注册-->
<div id="regModal" class="modal hide login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="idCloseReg">X</button>
                <h1 class="text-center text-primary">注册用户</h1>
            </div>
            <div class="modal-body">
                <form action="/user/register" onsubmit="return false;" method="post" class="form col-md-8 center-block text-center text-primary">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="username" id="idRegUserName" placeholder="用户名" required="true" title=""
                               data-container="false" data-toggle="popover" data-placement="right"
                               data-content="用户名长度必须在3~20之间">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input-lg" name="email" id="idRegEmail" placeholder="电子邮箱" required="true" title=""
                               data-container="false" data-toggle="popover" data-placement="right"
                               data-content="邮箱格式错误">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" name="password" id="idRegPsw" placeholder="登录密码" required="true" title=""
                               data-container="false" data-toggle="popover" data-placement="right"
                               data-content="密码长度必须在6~20之间">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg" id="idRegAction">立刻注册</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<!-- 联系（Modal） -->
<div class="modal fade" id="idContractDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    与我联系 QQ:2538698032 &nbsp;&nbsp; 微信:bloodchilde
                </h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img src="/images/weixin.jpg" width="300px" height="300px" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container-fluid">
    <div class="row-fluid">
