<div class="span2">
    <div>
        <ul class="nav nav-list bs-docs-sidenav">
            <li><a href="#overview"><i class="icon-chevron-right" style="text-align: right"></i> 概览</a></li>
            <li><a href="#transitions"><i class="icon-chevron-right"></i> 过渡效果</a></li>
            <li><a href="#modals"><i class="icon-chevron-right"></i> 模态对话框</a></li>
            <li><a href="#dropdowns"><i class="icon-chevron-right"></i> 下拉菜单</a></li>
            <li><a href="#scrollspy"><i class="icon-chevron-right"></i> 滚动监听</a></li>
            <li><a href="#tabs"><i class="icon-chevron-right"></i> 标签页</a></li>
            <li><a href="#tooltips"><i class="icon-chevron-right"></i> 工具提示</a></li>
            <li><a href="#popovers"><i class="icon-chevron-right"></i> 弹出提示</a></li>
            <li><a href="#alerts"><i class="icon-chevron-right"></i> 警告框</a></li>
            <li><a href="#buttons"><i class="icon-chevron-right"></i> 按钮</a></li>
            <li><a href="#collapse"><i class="icon-chevron-right"></i> 折叠</a></li>
            <li><a href="#carousel"><i class="icon-chevron-right"></i> 轮播</a></li>
            <li><a href="#typeahead"><i class="icon-chevron-right"></i> 输入提示</a></li>
            <li><a href="#affix"><i class="icon-chevron-right"></i> 附加导航</a></li>
        </ul>
    </div>
</div>


